//全站样式基本变量
$font-family-primary: "Open Sans",
sans-serif !default;
$font-family-default: "Helvetica Neue",
Helvetica,
Arial,
sans-serif !default;
// Global
$default: #333;
$title: #0366d6;
$white: #fff;
$black: #000;
$gray: #71777c;
$gray-2: #646c7b;
$gray-3:#909090;
$gray-bg: #f8f9fb;
$reply-name: #007fff;
$success: #52c41a;

// item
$item-border: #e5e5e5 !default;

