@import '../../styles/variables.scss';

.cnd-topic-item {
  position: relative;
  width: 100%;
  background-color: $white;
  margin-bottom: 10px;
  padding: 15px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: $item-border;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  &:before{
    top: 0;
    bottom: auto;
  }
}

.cnd-topic-item__head {
  padding-bottom: 15px;
}
.cnd-topic-item__author{
  text-align: center;
}
.cnd-topic-item__avatar {
  width: 22px;
  height: 22px;
  border-radius: 100%;
}

.cnd-topic-item__name {
  font-size: 12px;
  margin-left: 14px;
}
.cnd-topic-item__tags{
  font-size: 13px;
  color: $gray;
}

.cnd-topic-item__main{

}
.cnd-topic-item__title {
  color: $title;
  padding-bottom: 5px;
}
.cnd-topic-item__content {
  font-size: 13px;
  padding-bottom: 5px;
  max-height: 999999px;
}
.cnd-topic-item__foot {
  color: $gray;
  font-size: 12px;
}
.cnd-topic-item__count-icon {
  display: inline-block;
  vertical-align: -2px;
  margin-right: 2px;
}
.cnd-topic-item__reply-count{
  margin-right: 20px;
}