@import '../../styles/variables.scss';
.cnd-topic-list {
  .am-list {
    width: 100%!important;
  }
}
.cnd-topic-item {
  position: relative;
  width: 100%;
  background-color: $white;
  padding: 15px;
}

.cnd-topic-item__head {
  padding-bottom: 15px;
}
.cnd-topic-item__author{
  text-align: center;
}
.cnd-topic-item__avatar {
  width: 22px;
  height: 22px;
  border-radius: 100%;
}

.cnd-topic-item__name {
  font-size: 12px;
  margin-left: 5px;
}
.cnd-topic-item__tags{
  font-size: 13px;
  color: $gray;
}

.cnd-topic-item__main{

}
.cnd-topic-item__title {
  color: $title;
  padding-bottom: 5px;
}
.cnd-topic-item__content {
  font-size: 13px;
  padding-bottom: 5px;
  max-height: 999999px;
}
.cnd-topic-item__foot {
  color: $gray;
  font-size: 11px;
}
.cnd-topic-item__count-icon {
  display: inline-block;
  vertical-align: -2px;
  margin-right: 2px;
}
.cnd-topic-item__reply-count{
  margin-right: 20px;
}

