@import '../../styles/variables.scss';


// topic detail
.color-green {
  color: $success;
}
.cnd-topic-detail {
  .am-navbar-left {padding-left: 0;}
  padding-bottom: 84px;
  padding-top: 45px;
}
.cnd-topic-detail__navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
.cnd-icon-share{
  display: inline-block;
  font-size: 24px!important;
}

.cnd-reply-bar{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 12;
  background-color: $white;
  width: 100%;
}

.cnd-reply-bar__inner {
  position: relative;
  z-index: 12;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

.cnd-reply-bar__tag {
  margin-right: 25px;
  i {
    font-size: 28px;
    color: $gray;
  }
  .cnd-reply__tag-collect {
    color: $success;
  }
}


.cnd-reply-bar__count {
  font-size: 15px;
  color: $gray;
  text-align: right;
  em {
    font-size: 14px;
  }
}

.cnd-topic-detail__main {
  position: relative;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 15px;
  width: 100%;
  background-color: $white;
  img {
    width: 100%;
  }
}
.cnd-topic-detail__title{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  padding-top: 8px;
}
.cnd-topic-detail__create {
  margin-top: 10px;
  font-size: 12px;
  color: $gray;
  .create-time {
    color: $gray-2;
  }
}

.cnd-topic-detail__content {
  padding-top: 15px;
}

.cnd-topic-detail__main-tags {
  margin: 40px 0 20px;
}
.cnd-topic-detail__tag{
  padding: 2px 10px;
  background-color: $gray-bg;
  margin-right: 5px;
  color: $gray;
  font-size: 13px;
}
.cnd-topic-detail__main-reply {
  margin-bottom: 10px;
  font-size: 12px;
  color: $gray;
  span {
    display: inline-block;
    padding: 0 5px;
  }
}
.cnd-topic-reply__input-item {
  position: relative;
  margin-bottom: 10px;
  padding: 0!important;
  .am-input-label.am-input-label-5{
    padding-left: 15px;
    width: 45px!important;
  }
  .am-input-control {
    input {
      font-size: 15px!important;
    }
  }
}
.cnd-topic-reply__avatar {
  display: block;
  width: 22px;
  height: 22px;
  background-color: $gray-bg;
}



.cnd-reply-list {
  background-color: $white;

}
.cnd-reply-list__title {
  position: relative;
  padding: 10px 15px;
  color: $gray;
}
.cnd-reply-box {
  padding-left: 15px;
}

.cnd-reply-item {
  position: relative;
  padding:15px 0;
  &:nth-last-child(1):after{
    height: 0;
  }
}
.cnd-reply-item__avatar {
  position: absolute;
  left: 0px;
  top: 15px;
}
.cnd-reply-item__main {
  margin-left: 32px;
  p,
  img {
    width: 100%;
  }
}
.cnd-reply-item__name {
  color: $reply-name;
  display: block;
  height: 24px;
  line-height: 1;
}
.cnd-reply-item__content {
  padding-right: 40px;
  font-size: 13px;
  padding-bottom: 5px;
  .markdown-text {
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
  }
}
.cnd-reply-item__mark {
  color: $gray-3;
  font-size: 13px;
}


.cnd-topic-reply__box-input {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $white;
  z-index: 11;
}